@import '../../utils/utils.less';
.pageHeader {
    .content{
        margin: 0;
        margin-bottom: 24px;
    }
}
.activitiesList {
    padding: 0 24px 8px 24px;
    .username {
        color: rgba(0,0,0,.65);
    }
    .event {
        font-weight: normal;
    }
}

.pageHeaderContent {
    display: flex;
    .avatar {
        flex: 0 1 72px;
        margin-bottom: 8px;
        & > span {
            border-radius: 72px;
            display: block;
            width: 72px;
            height: 72px;
        }
    }
    .content {
        position: relative;
        top: 4px;
        margin: 0;
        margin-left: 24px;
        flex: 1 1 auto;
        color: rgba(0,0,0,.45);
        line-height: 22px;
        .contentTitle {
            font-size: 20px;
            line-height: 28px;
            font-weight: 500;
            color: rgba(0,0,0,.85);
            margin-bottom: 12px;
        }
    }
}

.extraContent {
    .clearfix();
    float: right;
    white-space: nowrap;
    .statItem {
        padding: 0 32px;
        position: relative;
        display: inline-block;
        > p:first-child {
            color: rgba(0,0,0,.45);
            font-size: 14px;
            line-height: 22px;
            margin-bottom: 4px;
        }
        > p {
            color: rgba(0,0,0,.85);
            font-size: 30px;
            line-height: 38px;
            margin: 0;
            > span {
                color: rgba(0,0,0,.45);
                font-size: 20px;
            }
        }
        &:after {
            background-color: #e8e8e8;
            position: absolute;
            top: 8px;
            right: 0;
            width: 1px;
            height: 40px;
            content: '';
        }
        &:last-child {
            padding-right: 0;
            &:after {
                display: none;
            }
        }
    }
}

.members {
    a {
        display: block;
        margin: 12px 0;
        line-height: 24px;
        height: 24px;
        .textOverflow();
        .member {
            font-size: 14px;
            color: rgba(0,0,0,.65);
            line-height: 24px;
            max-width: 100px;
            vertical-align: top;
            margin-left: 12px;
            transition: all 0.3s;
            display: inline-block;
            .textOverflow();
        }
        &:hover {
            span {
                color: #1890ff;
            }
        }
    }
}

.projectList {
    .ant-card-meta-description {
        color: rgba(0,0,0,.45);
        height: 44px;
        line-height: 22px;
        overflow: hidden;
    }
    .cardTitle {
        font-size: 0;
        a {
        color: rgba(0,0,0,.85);
        margin-left: 12px;
        line-height: 24px;
        height: 24px;
        display: inline-block;
        vertical-align: top;
        font-size: 14px;
        &:hover {
            color: #1890ff;
        }
        }
    }
    .projectGrid {
        width: 33.33%;
    }
    .projectItemContent {
        display: flex;
        margin-top: 8px;
        overflow: hidden;
        font-size: 12px;
        height: 20px;
        line-height: 20px;
        .textOverflow();
        a {
            color: rgba(0,0,0,.45);
            display: inline-block;
            flex: 1 1 0;
            .textOverflow();
            &:hover {
                color: #1890ff;
            }
        }
        .datetime {
            color: rgba(0,0,0,.25);
            flex: 0 0 auto;
            float: right;
        }
    }
}

.datetime {
    color: rgba(0,0,0,.25);
}

@media screen and (max-width: 998px) and (min-width: 1200px) {
    .activeCard {
        margin-bottom: 24px;
    }
    .members {
        margin-bottom: 0;
    }
    .extraContent {
        margin-left: -44px;
        .statItem {
            padding: 0 16px;
        }
    }
}

@media screen and (max-width: 1200px) {
    .activeCard {
        margin-bottom: 24px;
    }
    .members {
        margin-bottom: 0;
    }
    .extraContent {
        float: none;
        margin-right: 0;
        .statItem {
            padding: 0 16px;
            text-align: left;
            &:after {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .extraContent {
        margin-left: -16px;
    }
    .projectList {
        .projectGrid {
            width: 50%;
        }
    }
}

@media screen and (max-width: 576px) {
    .pageHeaderContent {
        display: block;
        .content {
            margin-left: 0;
        }
    }
    .extraContent {
        .statItem {
            float: none;
        }
    }
}

@media screen and (max-width: 480px) {
    .projectList {
        .projectGrid {
            width: 100%;
        }
    }
}
