 #root {
    height: 100%;
    >.ant-layout {
        height: 100% !important;
        overflow: hidden;
        .trigger {
            font-size: 18px;
            line-height: 64px;
            padding: 0 24px;
            cursor: pointer;
            transition: color .3s;
        }
        .trigger:hover {
            color: #1890ff;
        }
        .logo {
            height: 64px;
            position: relative;
            line-height: 64px;
            padding-left: 24px;
            transition: all 0.3s;
            background: #002140;
            overflow: hidden;
            img {
                display: inline-block;
                vertical-align: middle;
                height: 32px;
            }
            h1 {
                color: white;
                display: inline-block;
                vertical-align: middle;
                font-size: 18px;
                margin: 0 0 0 12px;
                font-weight: 600;
            }
          }
    }
}
